@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800&display=swap");
@mixin phone {
  @media (min-width: 550px) {
    @content;
  }
}
@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin web {
  @media (min-width: 1000px) {
    @content;
  }
}
body {
  background-color: #f3efe9;
}

.hot_news {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  @include phone {
    grid-template-columns: 1fr 1fr;
  }
  @include pad {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 0rem 0.5rem 1rem;
  }

  @include web {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .hot_news_out {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.8rem;
    @include phone {
      gap: 0rem;
      grid-template-columns: 1fr;
    }
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      @include phone {
        height: 150px;
      }
      @include pad {
        height: 180px;
        object-fit: cover;
      }
    }

    .hot_news_title {
      font-size: 1.1rem;
      line-height: 140%;
      color: rgb(42, 31, 19);
      overflow: hidden;
      margin: 0.4rem auto;
      text-align: justify;

      @include pad {
        line-height: 140%;
      }

      .fa-play {
        color: orange;
      }
    }
  }
}

h1 {
  position: absolute;
  z-index: -1;
  top: 6rem;
}

.info_layout {
  width: 85%;
  margin: 1rem auto;
  max-width: 1400px;
  border-radius: 1rem;
  background: rgb(248, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 1rem;
  @include pad {
    width: 90%;
  }

  .info_layout_title {
    font-size: 1.3rem;
    margin: 0rem auto 1.5rem;
    color: #0b0702;
    border-bottom: 2px solid orange;
    padding-bottom: 0.3rem;
    width: fit-content;
    letter-spacing: 0.2rem;
    font-weight: 500;

    &::before {
      content: "";
    }
  }
  @include pad {
    font-size: 1.4rem;
  }
}

.footer {
  width: fit-content;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  p {
    color: #4c2000;
    font-size: 1rem;

    @include pad {
      font-size: 1.2rem;
    }
  }
}

.all_news {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 90%;
  }
  .info_layout {
    width: 85%;
    @include pad {
      width: 90%;
    }
    @include web {
      width: 95%;
    }
  }
  .hot_news2 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    @include phone {
      grid-template-columns: 1fr 1fr;
    }
    @include pad {
      grid-template-columns: 1fr 1fr;
    }

    .hot_news_out {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 0.8rem;
      @include phone {
        grid-template-columns: 1fr;
      }
      @include pad {
        grid-template-columns: 2fr 3fr;
      }
      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
          rgba(17, 17, 26, 0.1) 0px 0px 8px;
        @include phone {
          height: 150px;
        }
        @include pad {
          height: 100px;
        }
      }

      .hot_news_title {
        font-size: 1.1rem;
        line-height: 140%;
        color: rgb(42, 31, 19);
        margin: 0.4rem auto;
        text-align: justify;
        max-height: 100px;

        @include pad {
          line-height: 140%;
          height: 70px;
          overflow: hidden;
        }

        .fa-play {
          color: orange;
        }
      }
    }
  }
}
.time {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  color: #6f6d69;
  display: flex;
  justify-content: end;
  font-weight: 200;
  margin-top: 0.5rem;
}

.videobox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 2rem;
}
.videobox iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
//

