@mixin phone {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin pad {
  @media (min-width: 800px) {
    @content;
  }
}
@mixin web {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin big {
  @media (min-width: 1400px) {
    @content;
  }
}

$orange: #f08308;
$black: #353434;
$white: #ffffff;
$Bg-white: #f3efe9;
$Bg-Shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
$orangeLiner: (
  linear-gradient(115deg, #f07708 30.73%, #ff9823 32.81%, #f04e08 100%)
);
$letter: 0.1rem;
$font-sm: 1rem;
$font-md: 1.2rem;
$gap-sm: 0.5rem;
$gap-md: 1rem;

body {
  margin: auto;
  background: $Bg-white;
  color: $black;
  a {
    color: $black;
  }
  li {
    list-style: none;
  }
  .all {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 98%;

    @include pad {
      flex-direction: row;
      max-width: 700px;
    }
    @include web {
      max-width: 900px;
    }
    @include big {
      max-width: 1100px;
    }
  }

  .about,
  .home {
    width: 95%;
    margin: auto;
    margin-top: 3.5rem;
    @include pad {
      max-width: 700px;
      margin: auto 1rem;
      margin-top: 4.5rem;
    }
    @include web {
      max-width: unset;
    }
  }
  .navbar {
    display: none;
    @include pad {
      display: flex;
      width: fit-content;
      height: fit-content;
      background: $white;
      box-shadow: $Bg-Shadow;
      flex-direction: column;
      position: sticky;
      right: 0;
      gap: $gap-sm;
      padding: 1rem;
      margin-top: 4.5rem;
      border-radius: 1.25rem;
    }

    a {
      white-space: nowrap;
      text-align: center;
      font-size: $font-md;
      font-weight: 400;
      letter-spacing: $letter;

      &:hover,
      &:focus {
        color: $orange;
        transition: all 0.2s;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;

    @include pad {
      display: grid;
      grid-template-columns: 4fr 3fr;
      gap: $gap-md;
    }
    img {
      width: 100%;
    }
    .count,
    iframe {
      display: none;
      @include pad {
        display: flex;
        border-radius: 4px;
      }
    }

    .calender-title {
      background: $orangeLiner;
      color: $white;
      width: 100%;
      text-align: center;
      padding: 0.5rem 0;
      border-radius: 1rem 1rem 0rem 0rem;
    }
    .calender-mb {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: $white;
      box-shadow: $Bg-Shadow;
      width: 100%;
      border-radius: 0 0 1.25rem 1.25rem;

      @include pad {
        display: none;
      }
      .calender_content {
        display: flex;
        width: 100%;
        overflow: hidden;
        margin: 0.8rem 0.8rem -5px 0.8rem;
        div {
          gap: $gap-md;
        }
        .calender_text {
          width: 100%;
          line-height: 150%;

          @include pad {
            text-align: center;
            padding: 0.25rem;
          }
        }
      }
    }
  }
  .header {
    display: flex;
    position: fixed;
    width: 100%;
    margin: auto;
    box-shadow: $Bg-Shadow;
    background: $white;
    z-index: 99;

    .header_inner {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 1400px;
      width: 100%;
      background: $white;
    }
    .logo {
      width: 13rem;
      margin: auto;
      margin-left: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .share {
      display: flex;
      gap: $gap-md;
      width: 150px;
      margin: auto;
      margin-right: 0rem;
      max-width: 1200px;
      justify-content: center;
      img {
        display: none;
        @include pad {
          display: flex;
          width: 40px;
        }
      }
    }
    .empty {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      position: fixed;
      z-index: 88;
      top: 0rem;
      right: 0rem;
    }

    .bars {
      z-index: 999;
      padding: 1rem auto;
      position: fixed;
      top: 0rem;
      right: 1rem;
      color: white;
      font-size: 1.5rem;

      @include pad {
        display: none;
      }
      .fa-bars {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.5rem;
        background: $orangeLiner;
      }
      .fa-xmark {
        padding: 1rem 0.5rem;
        color: #00000066;
        font-weight: 350;
        &::after {
          content: " 收起";
          font-size: $font-sm;
          position: relative;
          top: -3px;
          font-weight: 500;
        }
      }
    }

    .mobile_menu {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 80vw;
      position: fixed;
      padding: 1rem;
      top: 0rem;
      right: 0rem;
      z-index: 99;
      background: rgb(248, 245, 245, 0.2);
      transition: all 1s;

      a {
        font-size: $font-sm;
        color: $black;
        text-align: start;
        letter-spacing: $letter;
        &:hover {
          color: $orange;
          transition: 0s all;
          width: fit-content;
        }
      }
      img {
        width: 10rem;
      }
    }

    .mobile_share {
      border-top: 2px solid rgb(203, 203, 203, 0.5);
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      a {
        display: flex;
        gap: $gap-sm;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  .calender {
    display: none;
    @include pad {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      background: $white;
      box-shadow: $Bg-Shadow;
      position: sticky;
      top: 0rem;
      padding: 0rem 0.5rem 1.25rem;
      border-radius: 1.25rem;
      margin-top: 4.5rem;
    }

    .title {
      background: $orangeLiner;
      color: #fff;
      height: 100%;
      width: 30px;
      min-height: 20px !important;
      text-align: center;
      padding: 20px 10px;
      border-radius: 1rem 0rem 0rem 1rem;

      @include pad {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 1rem 1rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .calender_content {
      display: flex;
      padding: 1rem 0.5rem;
      flex-direction: column;
      gap: $gap-sm;
      width: 120px;
      overflow: hidden;

      .calender-inner {
        border-bottom: 1px solid rgba(246, 184, 123, 0.4);
        padding-bottom: 1rem;
      }
      div {
        text-align: center;
      }
    }
  }

  .marquee {
    display: grid;
    grid-template-columns: 1fr 9fr;
    .mySwiper {
      background: #f3eee8;
      box-shadow: $Bg-Shadow;
      padding: 1rem;
      width: 100%;
    }
    .title {
      background: $orangeLiner;
      color: $white;
      padding: 1rem;
    }
  }
}

.layout {
  border-radius: 1.25rem;
  margin: 1.25rem auto;
  background: #fff;
  padding: 0.5rem;
  box-shadow: $Bg-Shadow;
  @include pad {
    padding: 1rem;
  }
  img {
    width: 100%;
  }
}

.layout-president {
  .president-navtab {
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    display: flex;
    cursor: pointer;
    li {
      font-size: $font-md;
      font-weight: 500;
      letter-spacing: $letter;
      padding: 0.2rem;
      border-bottom: 2px solid #d9d9d9;
      &:hover,
      &:active {
        border-bottom: 2px solid #ffa500;
      }
    }
  }

  .president {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    @include web {
      display: grid;
      grid-template-columns: 5fr 4fr;
      gap: $gap-sm;
    }

    .out {
      margin: 0.5rem;
      margin-bottom: 1rem;
      .link {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: $gap-sm;
      }
      img {
        height: 85px;
        @include pad {
          height: 90px;
        }
      }
      .title {
        overflow: hidden;
        align-items: start;
        max-height: 65px;
        @include pad {
          max-height: 52px;
        }
      }
      .inner {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
      }
    }

    .president-info {
      display: flex;
      flex-direction: column;
      line-height: 170%;
      .up {
        display: flex;
      }
      .president-info-pic {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .president-exp {
      margin-bottom: 1rem;
      .tab {
        display: flex;
        cursor: pointer;
        margin-bottom: 1rem;
        li {
          background: $orangeLiner;
          box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
          color: $white;
          padding: 0.5rem 1rem;
          font-weight: 500;
          letter-spacing: $letter;
          font-size: $font-md;
          &:hover,
          &:active,
          &:focus {
            color: $white;
            background: $orangeLiner;
          }
        }
      }

      .content {
        padding-left: 2rem;
        li {
          list-style: disc;
        }
      }
    }
    .president-policy {
      width: 100%;
      p {
        text-align: justify;
      }
    }
  }
}
.president-relatednews {
  .out {
    display: flex;
    gap: $gap-md;
    margin: 1rem 0.5rem;

    @include pad {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $gap-md;
    }

    .link {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: $gap-sm;
      @include phone {
        grid-template-columns: 2fr 3fr;
      }
      @include pad {
        grid-template-columns: 1fr;
      }
      img {
        width: 100%;
        object-fit: cover;
        max-height: 140px;
        border-radius: 0.5rem;
        @include pad {
          grid-template-columns: 1fr;
          gap: $gap-sm;
          height: 150px;
        }
        @include web {
          height: 160px;
        }
      }
      .inner {
        display: flex;
        flex-direction: column;
      }
      .time {
        font-size: 0.9rem;
        text-align: end;
        opacity: 0.5;
      }
    }
  }
}
// BottomNav
.bottom {
  position: fixed;
  bottom: 0px;
  background: rgba(240, 131, 8, 0.85);
  backdrop-filter: blur(2.5px);
  z-index: 9999;
  width: 100%;

  @include pad {
    display: none;
  }
  div {
    display: flex;
    margin: auto;
    p {
      color: $white;
      margin: auto;
    }
    a {
      color: $white;
      margin: 0.5rem auto;
      padding: 0.5rem 0.2rem;
      font-weight: 450;
      &:hover {
        color: #f9f5ef;
        transition: 0.1s all;
      }
    }
  }
}

.home-Legis {
  .banner {
    width: 100%;
  }
  .out {
    display: grid;
    grid-template-columns: 1fr;
    @include pad {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.home-president {
  .mySwiper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
  }
  p {
    font-size: $font-sm;
  }
  .out {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mb {
    display: block;
    @include pad {
      display: none;
    }
  }
  .pc {
    display: none;
    @include pad {
      display: block;
    }
  }
}
.Legislator {
  display: flex;
  flex-direction: row;

  .navtab {
    display: -webkit-inline-box;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    text-align: center;
    white-space: overflow;
    height: auto;

    @include pad {
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      gap: 2rem;
    }
    li {
      width: fit-content;
      padding: 0.1rem 0;
      border-bottom: 2px solid #d9d9d9;
    }
  }
}

.count {
  text-align: center;
  display: flex;
  justify-content: center;
}
.down {
  color: var(--, #181818);
  font-family: Noto Sans TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.mb {
  display: block;
  @include pad {
    display: none;
  }
}

.pc {
  display: none;
  @include pad {
    display: block;
  }
}
table {
  width: 100%;
  thead {
    tr {
      display: flex;
      width: 100%;
      th {
        display: flex;
        padding: 0.3rem;
        margin: 0.2rem;
        background: #d9d9d9;
        justify-content: center;
        width: 100%;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
        font-size: $font-sm;
        @include pad {
          padding: 0.5rem;
          font-size: $font-md;
          margin: 0.3rem;
        }
        &:first-child {
          width: 30%;
          @include pad {
            width: 40%;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          background: #f3f3f3;
        }
      }
    }
  }
  tbody {
    tr {
      display: flex;
      width: 100%;
      td {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0.3rem;
        margin: 0.2rem;
        background: #f3f3f3;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
        font-size: $font-sm;
        align-items: center;
        @include pad {
          padding: 0.5rem;
          font-size: $font-md;
          margin: 0.3rem;
          font-weight: normal;
        }
        &:first-child {
          background: #d9d9d9;
          width: 30%;
          @include pad {
            width: 40%;
          }
        }
      }
    }
  }
}

.tablelayout_mb {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: start;
  display: flex;
  gap: $gap-md;
  margin-top: 1rem;
  @include pad {
    display: none;
  }
}

.tablelayout_pc {
  display: none;
  @include pad {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: $gap-md;
    margin-top: 1rem;
  }
}

.Region-navtab {
  display: none;

  @include pad {
    display: flex;
    justify-content: center;
  }
  .active {
    border-bottom: 2px solid $orange;
  }
  li {
    font-size: $font-md;
    padding: 1px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d9d9d9;
    cursor: pointer;
  }
}

.Region {
  display: none;
  @include pad {
    cursor: pointer;
    display: flex;
    gap: $gap-md;
    justify-content: center;
  }
  .active {
    background: $orangeLiner;
    color: white;
  }
}
.Regionbtn {
  background: #f3f3f3;
  width: fit-content;
  padding: 8px 16px;

  box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
  &:hover,
  :active {
    background: $orangeLiner;
    color: white;
  }
}

.s {
  position: relative;
  width: 100%;
  margin: auto;
}

.marquee_layout {
  width: 95%;
  margin: auto;
  display: flex;
  max-width: 1400px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  @include pad {
    width: 100%;
    margin: auto auto 1rem;
    background: #fff9ee;
  }

  .mySwiper {
    background: #ffda92;

    @include pad {
      border-radius: 0px;
    }
  }
}

p {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.count {
  margin: auto;
  font-weight: 500;
  letter-spacing: $letter;
  display: block;
  @include pad {
    gap: $gap-md;
    display: flex;
    align-items: center;
  }

  .sss {
    color: $orange;
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: $letter;
  }

  .www {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    border-radius: 1rem 0px 0px 1rem;

    @include pad {
      display: flex;
      width: 100px;
      font-size: $font-md;
      font-weight: 500;
      letter-spacing: $letter;
    }
  }

  .wwww {
    font-size: 0.9rem;
    justify-content: center;
    flex-direction: row;
    display: none;

    @include pad {
      display: flex;
      font-size: $font-md;
      font-weight: 500;
      letter-spacing: $letter;
      width: 20px;
    }
  }
}

.more {
  margin-right: 0;
  color: $black;
  display: flex;
  justify-content: end;
  a {
    width: fit-content;
  }
}

.navtab-mb {
  border-radius: 1.25rem;
  background: #f08308;
  color: $black;
  padding: 0.5rem 1rem;
  margin: auto 2rem;
  width: fit-content;
  white-space: nowrap;

  border-radius: 1.25rem;
  background: #f3f3f3;

  &:hover {
    background: #f08308;
    color: white;
  }
  &:focus {
    background: #f08308;
    color: white;
  }
  &:active {
    background: #f08308;
    color: white;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  @include pad {
    gap: 0rem;
    margin-bottom: 1rem;
  }
}

.out {
  display: flex;
  gap: $gap-md;
  margin: 1rem 0.5rem;

  flex-direction: column;
  @include pad {
    gap: $gap-md;
    margin: 1rem auto;
  }
  .link {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: $gap-sm;
    text-align: justify;

    @include pad {
      grid-template-columns: 1fr;
      overflow: hidden;
      justify-content: start;
      align-items: start;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 90px;
      border-radius: 0.5rem;

      @include pad {
        grid-template-columns: 1fr;
        gap: $gap-sm;
        height: auto;
        height: 150px;
      }
      @include web {
        height: 160px;
      }
    }
    .time {
      font-size: 0.8rem;
      text-align: end;
      opacity: 0.5;
      @include pad {
        font-size: 0.9rem;
      }
    }
  }
}

.link2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: $gap-sm;

  .title {
    text-align: justify;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 85px;
    border-radius: 0.5rem;
    @include pad {
      grid-template-columns: 1fr;
      gap: $gap-sm;
      height: 150px;
    }
  }
  .inner {
    display: flex;
    justify-content: center;
  }
  .time {
    font-size: 0.9rem;
    text-align: end;
    opacity: 0.5;
  }
}

.arrow {
  position: relative;
  width: 25%;
  margin: 0rem auto;
  top: -0px;
  top: -25px;
  min-width: 180px;
  @include pad {
    position: relative;
    width: 25%;
    margin: 1rem auto;
    top: -28px;
    top: -34px;
    min-width: 180px;
  }
}

.fa-arrow-left,
.fa-arrow-right {
  color: $orange;
  padding: 0.3rem 0.4rem;
  font-size: 15px;
  &:hover,
  &:active {
    color: $orange;
    border-radius: 100px;
    border: 2px solid;
  }
  @include pad {
    padding: 0.5rem 0.6rem;
    font-size: 20px;
  }
}

//swiper-style
.swiper-button-prev,
.swiper-button-next {
  color: transparent;
  &:after {
    display: none;
  }
}

.swiper {
  padding: 1rem 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: $orange !important;
}

.swiper-slide {
  margin-bottom: 2rem;
}

.title {
  line-height: 140%;
  font-size: $font-sm;
  height: 65px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: justify;
  @include pad {
    font-size: 1.1rem;
    height: 52px;
  }
}

li {
  font-size: 1rem !important;
  line-height: 170% !important;
  @include pad {
    font-size: 1.1rem;
  }
}
.president-policy {
  width: 100%;
  margin: 1rem auto;
  p {
    padding: 0.5rem;
    text-align: justify;
  }
}
.fa-solid {
  padding-right: 8px;
}
.custom-select {
  width: 100%;
  border: 0px solid;
  padding: 8px 10px;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.1rem;
  color: #373535;
  box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
  @include pad {
    font-size: $font-md;
  }
}

.calender_content_mb {
  margin: 1rem 1rem -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count_mb {
  font-weight: 500;
  letter-spacing: $letter;
  display: block;
  height: 100%;
  margin: 0rem 0.5rem;

  .sss {
    color: $orange;
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: $letter;
  }

  .www {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    border-radius: 1rem 0px 0px 1rem;
  }

  .wwww {
    font-size: 0.9rem;
    justify-content: center;
    flex-direction: row;
    display: none;
  }
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../assets/angle-down.png") no-repeat scroll right center
    transparent;
  padding-right: 10px;
}
.active {
  border-bottom: 2px solid #ffa500;
}

.swiper-pagination {
  margin: 0.5rem auto;
  @include pad {
    margin: 0rem auto;
  }
}

.home-video {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  @include pad {
    display: flex;
    flex-direction: row;
    gap: $gap-md;
  }
}
.layout2 {
  border-radius: 1.25rem;
  background: #fff;
  padding: 0.5rem;
  box-shadow: $Bg-Shadow;
  @include pad {
    width: 100%;
    padding: 1rem;
  }
}

.link:hover {
  opacity: 0.85;
}

.navtab {
  display: -webkit-inline-box;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  text-align: center;
  white-space: overflow;
  height: auto;

  @include pad {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-content: space-between;
    gap: 2rem;
  }
  li {
    width: fit-content;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d9d9d9;
    &:hover,
    &:active {
      border-bottom: 2px solid $orange;
    }
  }
}
p {
  font-size: $font-sm;
  line-height: 150%;
  @include pad {
    font-size: 1.1rem;
  }
}
.Legislator-tab {
  .swiper-pagination {
    margin: -0.5rem auto;
  }
}

.Region-navtab_mb,
.select_mb {
  display: flex;
  @include pad {
    display: none;
  }
}

.List_mb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap-md;
}

.footer {
  width: fit-content;
  margin: 1rem auto 5rem;
  @include pad {
    margin: 2rem auto 4rem;
  }
}

.scrollup {
  img {
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 100px;
    @include pad {
      display: none;
    }
  }
}

.icontitle {
  display: flex;
  img {
    width: 40px;
    height: 40px;
  }
}
.video_tab {
  display: flex;
  padding: 0.5rem 0;
  justify-content: start;
  align-items: center;
  gap: $gap-sm;
  margin-bottom: 0.5rem;
  li {
    border-radius: 1.25rem;
    background: #f3f3f3;
    padding: 0.25rem 0.625rem;
    box-shadow: 1px 1px 1.6px 0px rgba(0, 0, 0, 0.15);

    &:hover {
      background: #f08308;
    }
    a {
      color: black;
      font-weight: 400;

      &:hover {
        color: #fff;
      }
    }
  }
}

.h1title {
  position: relative;
  height: 130px;
  background: url("../assets/bn.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 10px;
  @include phone {
    height: 200px;
    background-size: cover;
    margin-bottom: 0px;
  }

  h1 {
    font-size: $font-md;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    transform: rotate(-3deg);
    top: 0rem;
    position: relative;
    @include phone {
      font-size: 2rem;
      top: 1rem;
    }
  }
  span {
    color: #fd8c0c;
    text-shadow: 0px 0 black, 0px 1px black, 2px 2px black, 2px -0px black;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.dropdown > .menu {
  position: absolute;
  left: 0;
  top: -10.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
}

.dropdown:hover > .menu {
  display: block;
  transition: transform 0.5s;
}
.dropdown > .menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  margin: 2px -15%;
  width: 120%;
  padding: 0.8rem 0;
  background: rgb(246, 166, 96);
  z-index: 9999999999 !important;
  opacity: 1;
  border-radius: 2px;
}

.dropdown {
  a {
    &:hover {
      background: $orange;
    }
  }
}

