@mixin phone {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin web {
  @media (min-width: 1000px) {
    @content;
  }
}

$orange: #f08308;
$black: #181818;
$orangeLiner: (
  linear-gradient(115deg, #f07708 30.73%, #ff9823 32.81%, #f04e08 100%)
);
$whiteBg: #ffffff99;
$whitebgShadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);

body {
  margin: auto;
  background: #f3efe9;

  width: 100%;
  a {
    color: $black;
  }

  li {
    list-style: none;
  }
  .all {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;

    @include pad {
      max-width: 1400px;
      flex-direction: row;
      width: 100%;
    }
  }

  .about,
  .home {
    width: 90%;
    margin: 1rem;
  }
  .navbar {
    display: none;
    @include pad {
      display: flex;
      width: fit-content;
      height: fit-content;
      gap: 1rem;
      padding: 1rem;
      background: $whiteBg;
      box-shadow: $whitebgShadow;
      flex-direction: column;
      position: sticky;
      right: 0;
      top: 8%;
      border-radius: 1.25rem;
    }

    a {
      white-space: nowrap;
      text-align: center;

      &:hover {
        color: $orange;
        transition: all 0.2s;
      }
      &:focus {
        color: $orange;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;

    @include pad {
      display: grid;
      grid-template-columns: 4fr 3fr;
      gap: 1rem;
    }
    img {
      width: 100%;
    }
    .count,
    iframe {
      display: none;
      @include pad {
        display: flex;
      }
    }
  }
  .header {
    display: flex;
    width: 100%;
    margin: auto;
    box-shadow: $whitebgShadow;
    background: $whiteBg;
    .header_inner {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 1400px;
      width: 100%;
    }
    .logo {
      width: 13rem;
      margin: auto;
      margin-left: 0rem;
    }
    .share {
      display: flex;
      gap: 1rem;
      width: 160px;
      margin: auto;
      margin-right: 0rem;
      max-width: 1200px;
      justify-content: center;
      img {
        display: none;
        @include pad {
          display: flex;
          width: 30px;
        }
      }
    }
    .empty {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      position: fixed;
      z-index: 88;
      top: 0rem;
      right: 0rem;
    }

    .bars {
      z-index: 999;
      padding: 1rem auto;
      position: fixed;
      top: 0rem;
      right: 0rem;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      padding: 0.3rem;
      background: $orangeLiner;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
      @include pad {
        display: none;
      }
    }

    .mobile_menu {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      width: 80vw;
      position: fixed;
      padding: 2.25rem;
      top: 0rem;
      right: 0rem;
      z-index: 99;
      background: rgb(248, 245, 245, 0.2);

      a {
        font-size: 1.2rem;
        line-height: normal;
        color: $black;
        text-align: start;
      }
      img {
        width: 10rem;
      }
    }

    .mobile_share {
      border-top: 2px solid rgb(203, 203, 203, 0.5);
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      a {
        display: flex;
        gap: 0.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  .calender {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: $whiteBg;
    box-shadow: $whitebgShadow;
    width: 90%;
    border-radius: 1.25rem;

    @include pad {
      flex-direction: column;
      position: sticky;
      top: 0rem;
      padding: 0rem 0.5rem 1.25rem;
      width: fit-content;
      top: 8%;
    }
    .title {
      background: $orangeLiner;
      color: #fff;
      height: 100%;
      width: 30px;
      text-align: center;
      padding: 20px 10px;
      border-radius: 1rem 0rem 0rem 1rem;

      @include pad {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 1rem 1rem 0rem 0rem;
      }
    }
    .calender_content {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      gap: 0.25rem;
      padding: 1.25rem 0;

      @include pad {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: fit-content;
        overflow: hidden;
      }
      div {
        width: 10rem;
        @include pad {
          width: 10rem;
          text-align: center;
          padding: 0.25rem;
        }
      }
    }
  }

  .marquee {
    display: grid;
    grid-template-columns: 1fr 9fr;
    .mySwiper {
      background: #f3eee8;
      box-shadow: $whitebgShadow;
      padding: 1rem;
      width: 100%;
    }
    .title {
      background: $orangeLiner;
      color: #fff;
      padding: 1rem;
    }
  }

  .president {
    background: $whiteBg;
    box-shadow: $whitebgShadow;
  }
}

.home-president,
.home-Legis,
.home-video {
  border-radius: 1.25rem;
  margin: 1.25rem auto;
  background: #fff;
  padding: 1.25rem;
  /* 用這個陰影 */
  box-shadow: $whitebgShadow;
  img {
    width: 100%;
  }
}
