@mixin phone {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin web {
  @media (min-width: 1200px) {
    @content;
  }
}

$orange: #f08308;
$black: #373535;
$orangeLiner: (
  linear-gradient(115deg, #f07708 30.73%, #ff9823 32.81%, #f04e08 100%)
);
$whiteBg: #ffffff99;
$whitebgShadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);

body {
  margin: auto;
  background: #f3efe9;
  color: $black;
  width: 100%;
  a {
    color: $black;
  }

  li {
    list-style: none;
  }
  .all {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 98%;
    margin: auto;

    @include pad {
      flex-direction: row;
      width: 80%;
      max-width: 1000px;
    }
    @include web {
      max-width: 1200px;
      width: 80%;
    }
  }

  .about,
  .home {
    width: 95%;
    margin: auto;
    margin-top: 4.5rem;
    @include pad {
      max-width: 700px;
      margin: auto 1rem;
      margin-top: 4.5rem;
    }
    @include web {
      max-width: unset;
      margin: auto 1rem;
      margin-top: 4.5rem;
    }
  }
  .navbar {
    display: none;
    @include pad {
      display: flex;
      width: fit-content;
      height: fit-content;
      gap: 0.5rem;
      padding: 1rem;
      background: $whiteBg;
      box-shadow: $whitebgShadow;
      flex-direction: column;
      position: sticky;
      right: 0;
      margin-top: 4.5rem;
      border-radius: 1.25rem;
    }

    a {
      white-space: nowrap;
      text-align: center;
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1rem;

      &:hover {
        color: $orange;
        transition: all 0.2s;
      }
      &:focus {
        color: $orange;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;

    @include pad {
      display: grid;
      grid-template-columns: 4fr 3fr;
      gap: 1rem;
    }
    img {
      width: 100%;
    }
    .count,
    iframe {
      display: none;
      @include pad {
        display: flex;
        border-radius: 4px;
      }
    }
    .calender-mb {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $whiteBg;
      box-shadow: $whitebgShadow;
      width: 100%;
      border-radius: 1.25rem;

      @include pad {
        display: none;
      }
      .title {
        background: $orangeLiner;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        border-radius: 1rem 1rem 0rem 0rem;
      }
      .calender_content {
        display: flex;
        width: 100%;
        overflow: hidden;
        margin: 0.8rem 0.8rem -5px 0.8rem;
        div {
          gap: 1rem;
        }
        .calender_text {
          width: 100%;
          line-height: 150%;

          @include pad {
            text-align: center;
            padding: 0.25rem;
          }
        }
      }
    }
  }
  .header {
    display: flex;
    position: fixed;
    width: 100%;
    margin: auto;
    box-shadow: $whitebgShadow;
    background: $whiteBg;
    z-index: 99;

    .header_inner {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 1400px;
      width: 100%;
      background: $whiteBg;
    }
    .logo {
      width: 13rem;
      margin: auto;
      margin-left: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .share {
      display: flex;
      gap: 1rem;
      width: 160px;
      margin: auto;
      margin-right: 0rem;
      max-width: 1200px;
      justify-content: center;
      img {
        display: none;
        @include pad {
          display: flex;
          width: 30px;
        }
      }
    }
    .empty {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.85);
      position: fixed;
      z-index: 88;
      top: 0rem;
      right: 0rem;
    }

    .bars {
      z-index: 999;
      padding: 1rem auto;
      position: fixed;
      top: 0rem;
      right: 1rem;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;

      @include pad {
        display: none;
      }
      .fa-bars {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.5rem;
        background: $orangeLiner;
      }
      .fa-xmark {
        padding: 1rem 0.5rem;
        color: #00000066;
        font-weight: 350;
        &::after {
          content: " 收起";
          font-size: 1rem;
          position: relative;
          top: -3px;
          font-weight: 500;
        }
      }
    }

    .mobile_menu {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 80vw;
      position: fixed;
      padding: 1rem;
      top: 0rem;
      right: 0rem;
      z-index: 99;
      background: rgb(248, 245, 245, 0.2);

      a {
        font-size: 1.1rem;
        color: $black;
        text-align: start;
        font-weight: 500;
        letter-spacing: 0.1rem;
        &:hover {
          color: $orange;
          transition: 0.3s all;
          width: fit-content;
        }
      }
      img {
        width: 10rem;
      }
    }

    .mobile_share {
      border-top: 2px solid rgb(203, 203, 203, 0.5);
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      a {
        display: flex;
        gap: 0.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  .calender {
    display: none;
    @include pad {
      display: flex;
      align-items: center;
      width: fit-content;
      height: fit-content;
      background: $whiteBg;
      box-shadow: $whitebgShadow;
      border-radius: 1.25rem;
      flex-direction: column;
      position: sticky;
      top: 0rem;
      padding: 0rem 0.5rem 1.25rem;
      margin-top: 4.5rem;
    }

    .title {
      background: $orangeLiner;
      color: #fff;
      height: 100%;
      width: 30px;
      text-align: center;
      padding: 20px 10px;
      border-radius: 1rem 0rem 0rem 1rem;

      @include pad {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 1rem 1rem 0rem 0rem;
      }
    }
    .calender_content {
      display: flex;
      padding: 1rem 0.5rem;
      flex-direction: column;
      gap: 1.25rem;
      width: 120px;
      overflow: hidden;

      div {
        text-align: center;
      }
    }
  }

  .marquee {
    display: grid;
    grid-template-columns: 1fr 9fr;
    .mySwiper {
      background: #f3eee8;
      box-shadow: $whitebgShadow;
      padding: 1rem;
      width: 100%;
    }
    .title {
      background: $orangeLiner;
      color: #fff;
      padding: 1rem;
    }
  }
}

.layout {
  border-radius: 1.25rem;
  margin: 1.25rem auto;
  background: #fff;
  padding: 1rem;
  /* 用這個陰影 */
  box-shadow: $whitebgShadow;
  img {
    width: 100%;
  }
}

.layout-president {
  .president-navtab {
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    display: flex;
    cursor: pointer;

    li {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      padding: 0.5rem;
      border-bottom: 3px solid #d9d9d9;
      &:hover,
      &:active {
        border-bottom: 3px solid $orange;
      }
    }
  }

  .president {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

    @include web {
      display: grid;
      grid-template-columns: 4fr 3fr;
      gap: 1.25rem;
    }

    .out {
      margin: 0;
      .link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

        margin-bottom: 1rem;
        @include phone {
          grid-template-columns: 2fr 3fr;
        }
      }
      .title {
        overflow: hidden;
        align-items: start;

        @include phone {
          max-height: 45px;
          /* margin: 1rem; */
          margin-bottom: 1rem;
        }
      }
      .inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .president-info {
      display: flex;
      flex-direction: column;
      line-height: 170%;
      .up {
        display: flex;
      }

      .president-info-pic {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .president-exp {
      .tab {
        display: flex;
        cursor: pointer;
        margin-bottom: 1rem;

        li {
          background: $orangeLiner;
          box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
          color: #fff;
          padding: 0.5rem 1rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          letter-spacing: 0.1rem;
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          &:hover,
          :active,
          :focus {
            color: #fff;
            background: $orangeLiner;
          }
        }
      }

      .content {
        padding-left: 2rem;
        li {
          list-style: disc;
        }
      }
    }
    .president-policy {
      width: 100%;
      p {
        text-align: justify;
      }
    }
    .president-news {
    }
  }
}
.president-relatednews {
  .out {
    display: grid;
    grid-template-columns: 1fr;
    @include pad {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    .link {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 1rem;
      @include phone {
        grid-template-columns: 2fr 3fr;
      }
      @include pad {
        grid-template-columns: 1fr;
      }
      img {
        width: 100%;
        object-fit: cover;
        max-height: 140px;
        border-radius: 0.5rem;
        @include pad {
          grid-template-columns: 1fr;
          gap: 0.5rem;
          max-height: 120px;
        }
        @include web {
          max-height: 160px;
        }
      }
      .inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .time {
        font-size: 0.9rem;
        text-align: end;
        opacity: 0.5;
      }
    }
  }
}
// BottomNav
.bottom {
  position: fixed;
  bottom: 0px;
  background: rgba(240, 131, 8, 0.85);
  backdrop-filter: blur(2.5px);
  z-index: 9999;
  width: 100%;

  @include pad {
    display: none;
  }
  div {
    display: flex;
    margin: auto;
    width: 90%;

    a {
      color: #fff;
      margin: auto;
      padding: 1rem;
      font-weight: 450;
      &:hover {
        color: #f9f5ef;
        transition: 0.1s all;
      }
    }
  }
}

.home-Legis {
  h2 {
    color: $orange;
    padding-left: 1rem;

    &::before {
      font-family: FontAwesome;
      content: "\f06d";
    }
  }
  .banner {
    width: 100%;
  }
  .out {
    display: grid;
    grid-template-columns: 1fr;
    @include pad {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.home-president {
  .mySwiper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
  }
  p {
    font-size: 1rem;
  }
  .out {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mb {
    display: block;
    @include pad {
      display: none;
    }
  }

  .pc {
    display: none;
    @include pad {
      display: block;
    }
  }
}
.Legislator {
  display: flex;
  flex-direction: row;

  .navtab {
    display: -webkit-inline-box;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    text-align: center;
    white-space: overflow;
    height: auto;

    @include pad {
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      justify-content: space-between;
      gap: 2rem;
    }
    li {
      width: fit-content;
      padding: 0.5rem 0;
      border-bottom: 3px solid #d9d9d9;
      &:hover,
      &:active {
        border-bottom: 3px solid $orange;
      }
    }
  }
}

.count {
  text-align: center;
  display: flex;
  justify-content: center;
}
.countdown {
  color: var(--, #181818);
  font-family: Noto Sans TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

table {
  tr {
    th {
    }
  }
}

table {
  border: 1px solid rgb(157, 16, 16);
  thead {
    tr {
      display: flex;
      th {
        display: flex;
        width: 6.25rem;
        padding: 0.5rem;
        margin: 0.2rem;
        background: #d9d9d9;
        justify-content: center;
      }
    }
  }
  tbody {
    tr {
      display: flex;
      td {
        display: flex;
        width: 6.25rem;
        justify-content: center;
        padding: 0.5rem;
        margin: 0.2rem;
        background: #f3f3f3;
        box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.s {
  position: relative;
  width: 100%;
  margin: auto;
}

.marquee_layout {
  width: 95%;
  margin: auto;
  display: flex;
  max-width: 1400px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  @include pad {
    width: 100%;
    margin: auto auto 1rem;
    background: #fff9ee;
  }

  // .mySwiper {
  //   display: none;

  //   @include pad {
  //     display: flex;
  //   }
  // }

  .mySwiper {
    background: #ffda92;

    @include pad {
      border-radius: 0px;
    }
  }
}

p {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.count {
  margin: auto;
  font-weight: 500;
  letter-spacing: 0.1rem;
  display: block;

  @include pad {
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  .sss {
    color: $orange;
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  .www {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    border-radius: 1rem 0px 0px 1rem;

    @include pad {
      display: flex;
      width: 80px;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }
  }

  .wwww {
    font-size: 0.9rem;
    justify-content: center;
    flex-direction: row;
    display: none;

    @include pad {
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      width: 20px;
    }
  }
}

.mb {
  display: block;
  @include pad {
    display: none;
  }
}

.pc {
  display: none;
  @include pad {
    display: block;
  }
}
.more {
  display: flex;
  justify-content: end;
  margin-right: 0;
}

.navtab-mb {
  border-radius: 1.25rem;
  background: #f08308;
  color: $black;
  padding: 0.5rem 1rem;
  margin: auto 2rem;
  width: fit-content;
  white-space: nowrap;

  border-radius: 1.25rem;
  background: #f3f3f3;

  &:hover {
    background: #f08308;
    color: white;
  }
  &:focus {
    background: #f08308;
    color: white;
  }
  &:active {
    background: #f08308;
    color: white;
  }
}
/* 自訂的選擇框外觀 */
.custom-select {
  width: 100%; /* 設置選擇框寬度 */
  padding: 10px; /* 設置內邊距 */
  border: 3px solid $orange; /* 設置邊框 */
  border-radius: 1rem; /* 設置邊框圓角 */
  background-color: #fff; /* 設置背景顏色 */
  font-size: 16px; /* 設置文字大小 */
  color: $black; /* 設置文字顏色 */
}

/* 自訂選項外觀 */
.custom-select option {
  padding: 10px; /* 設置選項內邊距 */
  background-color: #fff; /* 設置選項背景顏色 */
  color: $black; /* 設置文字顏色 */
}
.title {
  font-size: 1.1rem;
  line-height: 120%;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.out {
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto;
  flex-direction: column;
  @include pad {
    gap: 1rem;
  }
  .link {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @include pad {
      grid-template-columns: 1fr;
    }
    img {
      width: 100%;
      object-fit: cover;
      max-height: 110px;
      border-radius: 0.5rem;
      @include pad {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        max-height: 120px;
      }
      @include web {
        max-height: 160px;
      }
    }
    .time {
      font-size: 0.9rem;
      text-align: end;
      opacity: 0.5;
    }
  }
}
.link2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 110px;
    border-radius: 0.5rem;
    @include pad {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      max-height: 120px;
    }
  }
  .time {
    font-size: 0.9rem;
    text-align: end;
    opacity: 0.5;
  }
}

.arrow {
  position: relative;
  width: 25%;
  margin: 1rem auto;
  top: -28px;
  top: -34px;
  min-width: 180px;
}

.fa-arrow-left,
.fa-arrow-right {
  color: orange;
  padding: 0.5rem 0.6rem;
  font-size: 20px;
  &:hover {
    border-radius: 100px;
    border: 3px solid;
  }
  &:active {
    border-radius: 100px;
    border: 3px solid;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after {
  display: none;
}

.swiper {
  padding: 1rem 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: $orange !important;
}

.swiper-slide {
  margin-bottom: 2rem;
}

.title {
  line-height: 130%;
  font-size: 1.1rem;
}

li {
  font-size: 1.1rem !important;
  line-height: 170% !important;
}
.president-policy {
  width: 100%;
  margin: 1rem auto;
}
